# ===== Domain Control (single place) =====
BASE_DOMAIN=domain.in
PORTAINER_SUBDOMAIN=portainer
TRAEFIK_DASHBOARD_SUBDOMAIN=domain-control

# ===== TLS / Let's Encrypt =====
LETSENCRYPT_EMAIL=infra@domain.in

# ===== Docker network name used by Traefik and routed apps =====
TRAEFIK_NETWORK_NAME=edge
